* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.w-60 {
  width: 60%;
}